#home {
  position: relative;

  .app__wrapper {
    padding: 0;
    .copyright {
      display: none;
    }
  }
}

.app__header {
  display: flex;
  width: 100%;
  padding: 6rem 2rem 0rem;

  @media (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 768px) {
    padding: 6rem 1rem 2rem; // reduce padding
  }
}

.app__header-badge {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
  // margin-top: 2rem;
  @media (max-width: 1200px) {
    margin-right: 0;
    align-items: center;
  }

  .badge-cmp {
    display: flex;
    flex-direction: column;
    padding: 0 10%;

    border-radius: 15px;

    h1 {
      font-size: 60px;
      font-weight: 700;
      color: white;
      line-height: 1.2;

      @media (max-width: 768px) {
        font-size: 40px; // reduce font-size
      }
    }
    h3 {
      font-size: 40px;
      font-weight: 700;
      color: wheat;
      margin-top: 1%;

      @media (max-width: 768px) {
        font-size: 20px; // reduce font-size
      }
    }
    p {
      font-size: 20px;
      color: white;
      margin-top: 5%;

      @media (max-width: 768px) {
        font-size: 15px; // reduce font-size
      }
    }
  }

  span {
    font-size: 2.5rem;
    color: white;

    @media (min-width: 2000px) {
      font-size: 5rem;
    }

    @media (max-width: 768px) {
      font-size: 2rem; // reduce font-size
    }
  }
  .btn-box {
    display: flex;
    justify-content: space-between;
    width: 100%; // make it full width on all devices
    height: 50px;
    margin-top: 10%;
    flex-wrap: wrap; // allow buttons to wrap

    a {
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 100%;
      background: #00abf0;
      border: 2px solid #00abf0;
      border-radius: 8px;
      font-size: 19px;
      color: white;
      text-decoration: none;
      font-weight: 600;
      letter-spacing: 1px;
      z-index: 1;
      overflow: hidden;
      transition: 0.5s;
      margin: 5px; // add a bit of margin

      @media (max-width: 768px) {
        width: 100%; // full width on small screens
      }

      &:hover {
        color: #00abf0;
        &::before {
          width: 100%;
        }
      }
      &:nth-child(2) {
        background: transparent;
        color: #00abf0;
        &:hover {
          color: white;
        }
        &::before {
          background: #00abf0;
        }
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background: #323232;
        z-index: -1;
        transition: 0.5s;
      }
    }
  }
}

.img-container {
  max-width: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;

  @media (max-width: 1200px) {
    margin-top: 2rem;
  }

  @media (max-width: 768px) {
    max-width: 100%; // make it full width on small screens
  }
}

.app__header-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  opacity: 0; // Set the initial opacity to 0
  transition: opacity 3s; // transition effect for smooth appearance
}

.img-container:hover .app__header-img {
  opacity: 1; // On hover, change the opacity to 1
}
